
.img-preview {
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1em;
}

.title {
    margin-top: 30px;
    color: #fff;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label {
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover {
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar-brand {
    color: #fff;
    size: 30px;
    align-content: center;
}

navbar {
    padding: 40px;
}